#wholepage{
    background-color: white;
}


#navbar1{
    display: flex;
    gap: 10px;
    margin-left: 25%;
}

#navbar2{
    display: flex;
    gap: 10px;
    margin-left: 60%;
    padding-bottom: 10%;
}

.bt1{
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: lightblue;
}

#advert{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;

    
}
.logo1{
    justify-content: space-between;

    
}

.advert2{
    font-size: small;
}

.footer{
    margin-left: 35%;
    padding-top: 5%;
   
}

.image1{
    border-radius: 50%;
    padding-top: 2%;
    margin-right: 30%;

}

.search{
    color: white;
    background-color: lightblue;
    border-radius: 5px;
}

@media screen and (min-width:275px) and (max-width:420px){
    #wholepage{
        background-color: white;
    }
    
    
    #navbar1{
        /* display: flex; */
        gap: 5px;
        font-size: xx-small;
        width: 1%;
        height: 2%;
        margin-right: 50%;
        margin-left: 0px;

    }

    
    #navbar2{
        display: flex;
        gap: 10px;
        margin-left: 30%;
        padding-bottom: 10%;
      
    }
    
    .bt1{
        color: white;
        /* padding: 10px; */
        border-radius: 2px;
        background-color: lightblue;
        border-radius: 1px;
        font-size: x-small;
        height: 45px;
    
    

    }
    
    #advert{
        display: flex;
        justify-content: space-evenly;
        margin-left: 10%;
    
        
    }
    .logo1{
        justify-content: space-between;
        width: 10%;
        height: 20%;
    
        
    }
    
    .advert2{
        font-size: x-small;
    }
    
    .footer{
        /* margin-left: 35%; */
        /* padding-top: 5%; */
        margin-right: 10%;
       
    }
    
    .image1{
        border-radius: 25%;
        padding-top: 2%;
        margin-right: 30%;
        height: 20%;
    
    }
    
    .search{
        color: white;
        background-color: lightblue;
        border-radius: 5px;
    }
    .find{
        font-size: larger;
    }
    .logo3{
        width: 50%;
        height: 8%;

        
    }
    .find{
        border-radius: 1px;
        font-size: x-small;

    }

    

}